.moduleName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 1.2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.delete {
  position: relative;
  /*z-index: 2;*/
  flex: 0 0 0%;
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  /*display: inline-block;*/
  background-color: white;
  border-radius: 1200px;
}

.modalStyles {
  left: inherit;
  top: 8em;
  bottom: initial;
}

.modalCard {
  width: 25em !important; 
  margin: 0;
  margin-right: 2em;
}


.modalCardBody {
  border: 1px solid #cacaca;
}