.modalStyles {
  left: inherit;
  top: 8em;
  bottom: initial;
  position: absolute;
}

.modalCard {
  width: 22em !important; 
  margin: 0;
  margin-right: 2em;
}

.moduleEntry {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 1.2em;
}

.modalCardBody {
  /*border: 1px solid #cacaca;*/
  background-color: whitesmoke;
  background-color: rgb(245, 245, 245);
  background-color: rgba(245, 245, 245, .9);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);

}

.modalCardBody {
  border: 1px solid #2f2f2f;
}

.moduleTitle {
  font-size: 1.2em;
}

.moduleButton > * {
  font-size: 1.8em;

}

.moduleIcon {
}