.card {
  display: flex;
  background-color: white;
  flex-direction: column;
}

.cardImage {
  /*background-image: url("http://demo.sc.chinaz.com/Files/pic/icons/6256/k19.png");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 60px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.condition {
  text-align: left;
}

.location {
  text-align: right;
  overflow-wrap: normal;
}