.card {
  display: flex;
  background-color: white;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.content {
  /*border: 1px solid red;  */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent {
  display:flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
  /*height: 100%;*/
}

.details {
  display: flex;
  justify-content: space-around;
}

.condition {
  text-align: left;
  padding-left: .3em;
}

.location {
  text-align: left;
  overflow-wrap: normal;
  font-size: 3.5em;
  line-height: 100%;
}

.temperature {
  font-size: 3em;
  /*font-family: 'Slabo 27px', serif;*/
  /*font-family: 'Sansita', serif;*/
  font-family: 'Lato', serif;
  /*font-family: 'Roboto', serif;*/
}

.image {
  height: 5em;
  width: 5em;
}

.searchIcon {
  /*padding-top: 11px;*/
  align-self: center;
  padding-right: 8px;
  display: flex;
}

.weatherForm {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  width: 50px;
  max-width: 150px;
}

.weatherForm > * {
  flex: 1 1 100%;
}

.weatherInput {
  flex: 1 1 0%;
  width: 50px;
  max-width: 150px;
}

.weatherIcon {
  font-size: 3rem;
  padding: .2em;
  align-self: flex-end;
}

input {
  /*padding-top: 8px;*/
  /*border: none !important;*/
}

input:focus {
}

header {
  display: flex;
  align-items: center;
}

header > * {
  flex: 0 0 0%;
}

p {
  font-family: 'Lato', serif;
}

.forecastDetails {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5em;
}

.forecastDetail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.forecastTemp {
  font-size: 1.5em;
  padding-left: 0.1em;
  text-align: center;
}

.forecastDate {
  font-size: .85em;
}

.forecastDay {
  font-size: 1em;
}

.forecastIconStyle {
  font-size: 1.8em;
  padding-right: 0.1em;
}

.forecastIconTemp {
  display: flex;
  justify-content: center;
  padding: 0.2em;
  padding-top: 0.4em;
}

.content {
  overflow-y: scroll;
}