.box {
  position: relative;
  margin-bottom: 1.5em !important;
  padding-top: .5em;
  padding-bottom: .5em;
}

.timeInfo {
  display: flex;

}

.timeInfo > * {
  flex: 1 1 auto;
}

.city {
  align-self: flex-start;

}

.date {
  align-self: flex-end;
  text-align: right;

}

.deleteTime {
  position: absolute;
  top: -8px;
  right: -10px;
  z-index: 5;
  flex: 0 0 0%;
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  /*display: inline-block;*/
  /*background-color: white;*/
  border-radius: 1200px;
}