.mainNavPanel {
  width: 100%;
  height: 70px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /*box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.15);*/
  /*position: absolute;*/
  position: fixed;
  display: flex;
  z-index: 999;
  background-color: white;
  justify-content: center;
  align-items: stretch;
}

.mainNavPanel > * {
  flex: 1 1 100%;
}

.pageTitle {
  font-family: 'Italiana', serif;
  font-size: 4.0em;
  font-weight: 600;
}

.is-clearfix {
  clear: both;
}

.modalButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.modalButton button {
  margin-right: 1em;
}

.currentUser {
  /*font-family: 'El Messiri', serif;*/
  /*font-family: 'Lobster', serif;*/
  font-family: 'Merriweather', serif;

  text-transform: uppercase;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoutButton {
  flex: 0 0 0%;
}

.username {

}

.userImg {
  border-radius: 100px;
}

@media all and (max-width: 800px) {
  .userWrapper {
    display: none;
  }
}