.gridItem {
  border: 1px solid teal;
}

.layout {
  border: 1px solid goldenrod;
}

.component {
  display: inline-block;
  /*border: 1px solid goldenrod;*/
  margin: 0 1em;
  width: calc(100% - 2em);
  padding-bottom: .4em
}

.component:last-child {
  padding-bottom: 2em;
}