.notifications {
  position: absolute;
  z-index: 999;
  right: 2em;
  bottom: 2em;
}

.notification {
  border: 1px solid #2f2f2f;
  width: 40em;
  min-height: 5em;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
  background-color: rgb(245, 245, 245);
  background-color: rgba(245, 245, 245, .9);
}

@media all and (max-width: 550px) {
  .notification {
    width: calc(100vw - 4em);
  }
}

.dismiss {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 5;
  flex: 0 0 0%;
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  /*display: inline-block;*/
  background-color: white;
  border-radius: 1200px;
}

.text > * {
  line-height: 1.5em;
  font-size: 1.2em;
}