
body {
  font-size: 12px;
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

div, button, input, textarea, option, nav, span, p, form, select {
  font-family: 'Lato', Arial, Helvetica, serif;
  font-size: 1em;
  -webkit-font-smoothing: subpixel-antialiased;
  /*font-weight: 700;*/
}

input, textarea {
  /*font-size: 1.2em;*/
  -webkit-font-smoothing: subpixel-antialiased;
}

input {
  line-height: 1em;
  -webkit-font-smoothing: subpixel-antialiased;
}

/*WRAPPER*/
.dashContainer {
  /*border: 1px solid blue;*/
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.dashContainer > * {

}

/*Masonry*/
.mainDashboardPanel {
  /*border: 1px solid goldenrod;*/
  margin: 0 auto;
  margin-top: 6em;
  width: 95%;
  height: calc(100% - 6em);
}
 
/*ITEM*/
.component {

}

.component:last-child {

}

.component > * {

}


/*Widescreen CSS*/
@media all and (max-width: 3000px) {
  .mainDashboardPanel {
    
  }

  .component {

  }
}

/*Desktop CSS*/
@media all and (max-width: 1100px) {
  .mainDashboardPanel {

  }

  .component {

  }
}

/*and (-webkit-device-pixel-ratio: 3)*/
/*Mobile CSS*/
@media all and (max-width: 550px) {
  .mainDashboardPanel {

  }

  .component {

  }
}

@media all and (max-width: 600px) {
  .mainDashboardPanel {
  
  }

  .component {

  }
}

.loader {

}

