/*font-family: 'Roboto', serif;*/
/*font-family: 'Slabo 27px', serif;*/
/*font-family: 'Roboto Condensed', serif;*/
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Droid Serif', serif;*/
/*font-family: 'Italiana', serif;*/
/*font-family: serif;*/

body {
  font-size: 12px;
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
}

div, button, input, textarea, option, nav, span, p, form, select {
  /*font-family: 'El Messiri', serif;*/
  /*font-family: 'Sansita', serif;*/
  font-family: 'Lato', Arial, Helvetica, serif;
  font-size: 1em;
  font-weight: 900;
}

input, textarea {
  /*font-size: 1.2em;*/
}

input {
  line-height: 1em;
}

/*WRAPPER*/
.dashContainer {
  /*border: 1px solid blue;*/
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.dashContainer > * {

}

/*Masonry*/
.mainDashboardPanel {
  margin: 100px auto;
  width: 95%;
  height: 80%;
}
 
/*ITEM*/
.component {

}

.component:last-child {

}

.component > * {

}


/*Widescreen CSS*/
@media all and (max-width: 3000px) {
  .mainDashboardPanel {
    
  }

  .component {

  }
}

/*Desktop CSS*/
@media all and (max-width: 1100px) {
  .mainDashboardPanel {

  }

  .component {

  }
}

/*and (-webkit-device-pixel-ratio: 3)*/
/*Mobile CSS*/
@media all and (max-width: 550px) {
  .mainDashboardPanel {

  }

  .component {

  }
}

@media all and (max-width: 600px) {
  .mainDashboardPanel {
  
  }

  .component {

  }
}

.loader {

}

