body {
  font-size: 12px;
}

div, button, input, textarea {
  /*font-family: 'El Messiri', serif;*/
  /*font-family: 'Sansita', serif;*/
  /*font-family: 'Lato', serif;*/
  /*font-family: 'Roboto', serif;*/
  /*font-family: 'Slabo 27px', serif;*/
  /*font-family: 'Roboto Condensed', serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Merriweather', serif;*/
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Playfair Display', serif;*/
  /*font-family: 'Droid Serif', serif;*/
  font-family: 'Italiana', serif;
  font-size: 1em;
  font-weight: 700;
}

input, textarea {
  /*font-size: 1.2em;*/
}

input {
  line-height: 1em;
}

.dashContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  /*border: 1px solid blue;*/
  justify-content: center;
}

.dashContainer > * {
  flex: 1 1 100%;
}

.mainDashboardPanel {
/*  top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-wrap: wrap;*/
  padding-top: 4.5em; 
}

.component {
  /*border: 1px solid goldenrod;*/
  margin: 10px;
  height: 100%;
}

.component > * {
  flex: 1 1 100%;
}


/*Widescreen CSS*/
@media all and (max-width: 3000px) {
  .mainDashboardPanel {
    width: 100vw;
    /*max-width: 1200px;*/
    height: 100vh;
    /*border: 1px solid red;*/
    /*margin: 5px;*/

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;

  }

  .component {
    height: auto;
    width: calc(33.333% - 20px);
  }
}

/*Desktop CSS*/
@media all and (max-width: 1100px) {
  .mainDashboardPanel {
    width: 100vw;
    /*max-width: 1500px;*/
    height: 100vh;
    /*border: 1px solid red;*/
    margin: 0px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;

  }

  .component {
    height: auto;
    width: calc(50% - 20px);
  }
}

/*Mobile CSS*/
@media all and (max-width: 550px) and (-webkit-device-pixel-ratio: 3) {
  .mainDashboardPanel {
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /*align-content: flex-start;*/
    align-items: stretch;
    overflow-y: scroll;

  }

  .component {
    height: auto;
    display: flex;
    flex: 0 0 auto;
    width: calc(100% - 20px);
  }
}

@media all and (max-width: 600px) {
  .mainDashboardPanel {
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /*align-content: flex-start;*/
    align-items: stretch;
    overflow-y: scroll;

  }

  .component {
    height: auto;
    display: flex;
    flex: 0 0 auto;
    width: calc(100% - 20px);
  }
}