.listCard {
  /*color: red;*/
  /*display: flex;*/
  /*overflow: auto;*/
}

.listCard > * {
  /*flex: 1 1 100%;*/
}

.header {
  flex: 0 0 auto;
}

.listForm {
  display: flex;
}

.listForm > * {
  /*flex: 1 1 100%;*/
}

.listButton {
  margin-left: 1em;
}

.listItems {
  overflow-y: auto;
}

.height {
  max-height: 1200px;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  /*overflow: hidden;*/
  overflow-y: scroll;
}

.collapsedStyle {
  max-height: 0;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}

