.listCard {

}

.listCard > * {

}

.header {
  flex: 0 0 auto;
  line-height: 1.5em;
  height: 42px;
}

.headerTitle {
  line-height: 1.5em;
  flex: 0 1 auto;
  width: 100%;
  font-weight: 700;
}

.nameInput {
  width: 100%;
  font-weight: 700;
}

.footer {
  flex: 0 0 auto;
}

.footerButtons {
  color: #2f2f2f;
}

.listContent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.listContent > * {
  flex: 1 0 auto;
}

.listContent:first-child {
  padding-bottom: 0;
}

.listContent:last-child {
  padding-top: 0;
}

.listFormContainer {
  flex: 0 1 auto;
  padding-bottom: .2em;
}

.listForm {
  display: flex;
}

.listForm > * {
  flex: 0 1 auto;
}

.listButton {
  margin-left: 1em;
}

.listItems {
  overflow-y: auto;
  padding-top: .2em;
}

.footerButtons {
  align-self: flex-end;
}
