.listCard {

  /*color: red;*/
  /*display: flex;*/
  /*overflow: auto;*/
}

.listCard > * {
  /*flex: 1 1 100%;*/
}

.header {
  flex: 0 0 auto;
  line-height: 1.5em;
}

.footer {
  flex: 0 0 auto;
}

.listContent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.listContent > * {
  flex: 1 0 auto;
}

.listFormContainer {
  flex: 0 1 auto;
}

.listForm {
  display: flex;
}

.listForm > * {
  flex: 0 1 auto;
}

.listButton {
  margin-left: 1em;
}

.listItems {
  overflow-y: auto;
}

.footerButtons {
  align-self: flex-end;
}
