.focusStyle {
  display: flex;
  justify-content: center;
}

.focusContent {
  display: flex;
  justify-content: center;
}

.height {
  max-height: 1200px;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}

.collapsedStyle {
  max-height: 0;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}

input:focus {
  outline: none;
}

input {
  display: block;
  margin: 0px auto;
  border: 0;
  background: 0;
  border-bottom: 2px solid black;
  text-align: center;
}

.hasCurrentFocus {
  display: none;
}

.activeFocus {
  font-size: 30px;
  text-align: center;
}

.focusGoal {
  display: flex;
}

.centerFocus {
  text-align: center;
}

.centerBox {
  display: inline;
}

.delayStyle {
  /*-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  /*animation-delay: .5s;*/
}

.complete {
  text-decoration: line-through;
}

.maxHeight {
  height: 100%;
}

.noHeight {
  height: 0;
}

.focusItem {
  font-size: 20px;
}

.formStyle {
  /*border: 1px solid #eee;*/
  border: 0;
  width: 90%;
}

.formDiv {
  display: flex;
  justify-content: center;
}

.inputStyle {
  width: 100%;
}