.photoprompt {
  background-color: rgba(255, 255, 255, 0.9);
}
.height {
  max-height: 1200px;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height .3s;
  overflow: hidden;
}

.collapsedStyle {
  max-height: 0;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height .3s;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  line-height: 1.5em;
}

.photoButtonContainer {
  font-size: 2em;
}

.photoButton {
  font-size: 2em;
}

.hideInput {
  display: none;
}

.enterPhotoButton {
  margin: 10px 0;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content > * {
  flex: 1 0 auto;
}

.iconGreen {
  color: rgb(1,209,178);
}

.iconRed {
  color: rgb(255, 56, 96);
}

.streakBar {
  padding: 5px 10.5px;
  color: rgb(1,209,178);
  justify-content: flex-end;
}

.inputViewer > * {
  width: 100%;
}