.newsToggles {
  display: inline-flex;
  margin-right: 25px;
}

.test {
  background-color: #EBEBEB;
  font-weight: 900;
}

.spinner {
  position: inherit;
  border: 0px;
}

.height {
  max-height: 1200px;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}

.collapsedStyle {
  max-height: 0;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}

.newsButtons {
  color: #B1D4C0;
}

.removeBorder {
  border: none !important;
} 