.newsfeed {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  height: 42px;
  line-height: 1.5em;
}

.footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.content > * {
  flex: 1 0 auto;
}

.newsToggles {
  /*display: inline-flex;*/
  /*margin-right: 25px;*/
}

.selectedButton {
  background-color: #EBEBEB;
  font-weight: 900;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
}

.spinner {
  position: inherit;
  border: none;
}

.height {
  max-height: 1200px;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}

.collapsedStyle {
  max-height: 0;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}

.newsButtons {
  color: #2F2F2F;
}

.removeBorder {
  border: none !important;
} 

.postButton {
  margin-right: 5px;
}