.newsfeed {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  flex: 0 0 auto;
  height: 42px;
  line-height: 1.5em;
}

.footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content > * {
  flex: 1 0 auto;
}

.newsToggles {
  /*display: inline-flex;*/
  /*margin-right: 25px;*/
}

.selectedButton {
  background-color: #EBEBEB;
  font-weight: 900;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
}

.spinner {
  position: inherit;
  border: none;
}

.newsButtons {
  color: #2F2F2F;
}

.removeBorder {
  border: none !important;
} 

.postButton {
  margin-right: 5px;
}

.select:after {
  border: 1px solid #2f2f2f;
  border-right: 0;
  border-top: 0;
}