.height {
  max-height: 1200px;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height .3s;
  overflow: hidden;
}

.collapsedStyle {
  max-height: 0;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height .3s;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  height: 42px;
  line-height: 1.5em;
}

.thisSelect {
  width: 100%;
}

.header {
  flex: 0 0 auto;
  line-height: 1.5em;
}

select {
  width: 100%;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.content > * {
  flex: 1 0 auto;
}

.LatLong {
  background-color: rgba(255, 255, 255, 0.9);
}