.arcade {
  background-color: rgba(255, 255, 255, 0.9);
}

.cardBody {
  display:flex;
  justify-content: center;
  height: 100%;
  /*background-color: rgba(255, 255, 255, 0.9);*/
}

.removeBorder {
  border: none !important;
}

.embedDiv {
  height: 100%;
  align-items: center;
}

.embeddedGame {
  display: flex;
  justify-content: center;
  width: 95%;
  padding: 1em;
}

.header {
  flex: 0 0 auto;
  height: 42px;
  line-height: 1.5em;
}

.select:after {
  border: 1px solid #2f2f2f;
  border-right: 0;
  border-top: 0;
}