.cardBody {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 95%;
  width: 100%;
  background-color: blue;

}

.removeBorder {
  border: none !important;
}

.embeddedGame {
  display: flex;
  justify-content: center;
  padding: .5em;
}

.height {
  max-height: 1200px;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow-y: auto;
}

.collapsedStyle {
  max-height: 0;
  -webkit-transition: max-height 0.3s; 
  -moz-transition: max-height 0.3s; 
  -ms-transition: max-height 0.3s; 
  -o-transition: max-height 0.3s; 
  transition: max-height .3s;
  overflow: hidden;
}