.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  /*justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;*/
  /*display: -webkit-box;    */
  /*display: -ms-flexbox;  */
  /*display: -webkit-flex; */
  display: flex;
  justify-content: center;
  /*-webkit-justify-content: center;*/
  align-items: center;
  /*-webkit-align-items: center;*/
  height: 100vh;
  flex-direction: column;
  /*-webkit-flex-direction: column;*/
}

.bentoMainSplash {
  background-color: #ECE9E6;
  text-align: center;
  min-height: 200px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/dashboardapp-3d3c7.appspot.com/o/bento-shapes.png?alt=media&token=cdc2a8ba-3e49-4958-8803-0e72b4b981c9");
  background-repeat: no-repeat;
  background-position: 0 50%;
  /*background-size: cover;*/
}

.bentoMainSplashContent {
}

.splashHeader {
  font-size: 6.5em;
  font-family: 'Italiana', serif;
  font-weight: 600;
  color: black;
  letter-spacing: .1em;
  margin-top: 35px;
  line-height: 1em;
}

.splashSubHeader {
  font-size: 1.25em;
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 700;
}

.getStartedButton {
  width: 100%;
}

.aboutBento {
  padding-top: 35px;
  text-align: center;
  background-color: white;
}

.aboutText {
}

.aboutPhoto {

}

.iconSection{
}

.iconStyle {
  text-align: center;
  background-color: white;
}

.aboutHeader{
  font-size: 2.5em;
}

.aboutSubHeader{
  font-size: 1.3em;
  padding: 0 .8em;
}

.signup > * {
  flex: 1 1 100%;
  /*-webkit-flex: 1 1 100%;*/
  /*align-self: center;*/
}

.signupHeader {
  flex: 1 1 100%;
  /*-webkit-flex: 1 1 100%;*/
  /*align-self: flex-end;*/
  /*justify-content: flex-end;*/
  /*-webkit-justify-content: flex-end;*/
}

.loginButtons {
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  width: auto;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  display: flex;
  /*flex-direction: column;*/
  text-align: center;
  /*-webkit-flex-direction: column;*/
  width: 96%;
  margin-left: 2%;
  margin-bottom: 12px;
}

.loader {
  max-height: 13em;
  max-width: 13em;
  align-self: auto;
  /*-webkit-align-self: auto;*/
}

@media all and (max-width: 550px) {
  .loginButtons {
    flex-direction: column;
  }
}

.loginButtons > * {
  flex: 1 1 100%;
  /*-webkit-flex: 1 1 100%;*/
  margin: .2rem;
  /*display: -webkit-box;   */
  /*display: -ms-flexbox;  */
  /*display: -webkit-flex; */
  display: flex;
  align-items: center;
  text-align: center;
  /*-webkit-align-items: center;*/
}

.loginIcon {
  /*padding-top: 1px;*/
}

.buttonText {
  vertical-align: middle;
  text-align: center;
}

.google {
  flex: 1 1 100%;
  /*-webkit-flex: 1 1 100%;*/
  border: 1px solid #db3236;
  font-size: 1.5rem;
  font-weight: 700;
  /*padding-bottom: 2px;*/
}

.google:hover {
  border: 1px solid white;
  background-color: #db3236;
  color: white;
}

.github {
  border: 1px solid #24292e;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 2px;
}

.github:hover {
  border: 1px solid white;
  background-color: #24292e;
  color: white;
}

.facebook {
  border: 1px solid #3b5998;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 2px;
}

.facebook:hover {
  border: 1px solid white;
  background-color: #3b5998;
  color: white;
}

.twitter {
  border: 1px solid #00aced;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 2px;
}

.twitter:hover {
  border: 1px solid white;
  background-color: #00aced;
  color: white;
}

.signin {
  width: 100%;
  height: 100%;
  font-size: 6em !important;
}

.homepageIcons {
  width: 230px;
  height: 230px;
  line-height: 230px;
}

.homepageImageHolders {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 0 .8em;
}

.homePageImage {
  width: 100%;
  height: auto;
  border: 1px solid #4a4a4a;
}

.stepsHeader {
  font-size: 1.7em;
}

.steps {
  font-size: 1.3em;
  margin-top: 20px;
}