.stickynote {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  line-height: 1.5em;
}

.content {
  /*overflow-y: scroll;*/
}

textarea {
  /*border: 1px solid blue;*/
  border: none;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  /*height: 100%;*/
}

textarea:focus {
  outline: none;
}

span {
  margin-left: 4px;
  margin-right: 4px;
}

input {
  border: none;
  resize: none;
  background-color: none;
}
