textarea {
  /*border: 1px solid blue;*/
  border: none;
  resize: none;
  box-sizing: border-box;
  width: 100%;
}

textarea:focus {
  outline: none;
}

span {
  margin-left: 4px;
  margin-right: 4px;
}

input {
  border: none;
  resize: none;
}